[user]
    email = andrewfhou@gmail.com
    name = Andrew Hou
[core]
    editor = vim
	excludesFile = ~/.gitignore
[push]
    followTags = true
[url "https://anongit.kde.org/"]
	insteadOf = kde:
[url "git@git.kde.org:"]
	pushInsteadOf = kde:
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[init]
	defaultBranch = main
